* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

:root {
  --h1: 3.5rem;
  --h3: 1.7rem;
  --h4: 1.4rem;

  --color-one: #ffe556;
  --color-two: #00bcf0;
  --color-three: #303539;
  --color-four: #c8412d;
  --color-five: #e1ebed;

  --color-tetradic-1: #56ffe5;
  --color-tetradic-2: #ffe556;
  --color-tetradic-3: #56ff90;
  --color-tetradic-4: #5670ff;
  --color-tetradic-5: #ff56c4;

  --font-fam: "Poppins", sans-serif;

  /* Button */
  --btn-color: #9176ff;
  --dark-color: #2b2b2b;
  --dark-icon-color: #fff;
  --light-color: snow;
  --light-icon-color: #ffe556;
}

body {
  background-color: #0a0a0a;
  color: #fff;
}

a {
  color: #fff;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 5px auto;
  position: relative;
}

#header {
  display: flex;
  width: 70%;
  position: sticky;
  top: 10px;
  border-radius: 80px;
  margin: auto;
  opacity: 1;
  z-index: 2;
  background-color: #000;
}

.nav {
  text-align: center;
}

.nav-li {
  padding: 6px 2px;
  margin: 2px 20px;
  display: inline-block;
}

.nav-li-a:active {
  background-color: #5670ff;
  border-radius: 20px;
}

.nav-li-a:hover {
  background-color: snow;
  color: #000;
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.nav-li-a:focus {
  background-color: #5670ff;
  border-radius: 20px;
}

.nav-li-a {
  font-size: 1.1rem;
  color: #fff;
  padding: 8px 30px;
}

h1 {
  font-size: var(--h1);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

/* Dark/Light Theme Button */

.btn {
  background-color: #fff;
  width: 4em;
  height: 2em;
  border-radius: 10em;
  /* padding: 0 0.5em; */

  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.3) inset 0 8px 8px
    rgba(0, 0, 0, 0.3) inset 0 -4px 4px rgba(0, 0, 0, 0.3);
  position: relative;
  display: flex;
  align-items: center;
  margin: auto 0 auto 190px;

  cursor: pointer;
}

.btn-indicator {
  background-color: #fff;
  width: 2em;
  height: 2em;
  border: 2px solid #000;
  border-radius: 50%;
  position: absolute;

  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);

  transition: transform 0.3s ease;
}

.btn-icon-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  color: var(--light-icon-color);
  font-size: 1rem;
}

/* Light-Mode Animation  */

.btn-icon.animated {
  animation: spin 0.5s;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* LIGHT-MODE */

body.light-mode {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.light-mode #header {
  background-color: snow;
}

.light-mode .btn {
  background-color: #000;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.3) inset 0 8px 8px
    rgba(0, 0, 0, 0.3) inset 0 -4px 4px rgba(0, 0, 0, 0.3);
}

.light-mode .nav-li-a:hover {
  background-color: #303539;
  color: snow;
  border-radius: 20px;
  width: 100%;
}

.light-mode .nav-li-a {
  color: #000;
}

.light-mode .design-ui {
  border-left: 1px solid #000;
}

.light-mode .ui-dot {
  background-color: #000;
}

.light-mode .social-btn,
.light-mode .contact-btn {
  background-color: snow;
  border: 1px solid black;
}

.light-mode .social-links a,
.light-mode .contact-links a {
  color: #000;
}

.light-mode .btn-indicator {
  transform: translateX(3em);
  background-color: var(--dark-color);
  border: 2px solid snow;
}

.light-mode .btn-icon {
  color: var(--light-icon-color);
}

.light-mode .ui-dot-sections {
  background-color: #000;
}

/* UI lights */

.design-ui {
  display: block;
  border-left: 1px solid var(--color-five);
  padding: 0 0 0 25px;
  -webkit-animation: fade-in-right 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-right 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.ui-bars {
  height: 20px;
  width: 80px;
  border-radius: 10px;
  display: inline-block;
}

.ui-dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #e1ebed;
  display: inline-block;
}

.a1 {
  background-image: linear-gradient(
    to right,
    #ffe556,
    #e5e157,
    #ccdd5b,
    #b4d860,
    #9dd266
  );
  width: 85px;
}

.b {
  background-image: linear-gradient(
    to right,
    #9dd266,
    #87cb6c,
    #71c473,
    #5cbc79,
    #47b47e
  );
  width: 130px;
}

.c {
  background-image: linear-gradient(
    to right,
    #47b47e,
    #34ac83,
    #21a386,
    #0e9a88,
    #009188
  );
  width: 180px;
}

.d {
  background-image: linear-gradient(
    to right,
    #009188,
    #008887,
    #007f84,
    #007580,
    #0f6c7b
  );
  width: 230px;
}

.e {
  background-image: linear-gradient(
    to right,
    #0f6c7b,
    #1d6374,
    #265a6c,
    #2c5162,
    #2f4858
  );
  width: 270px;
}

/* Main */

#main {
  display: block;
  margin: 150px 0 0 0;
}

/* Home */

#home {
  display: block;
  margin: 150px 0;
  padding: 120px 0 0 0;
}

.name {
  margin: 10px 0 10px 25px;
  padding: 20px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.title {
  margin: 10px 0 10px 30px;
  padding: 20px;
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* About Me */

#about {
  display: block;
  margin: 200px 0 300px;
  padding: 120px 0 0 0;
}

.section-title {
  color: var(--color-two);
  display: inline-block;
  margin: 0 0 0 0;
}

.hi {
  margin: 0;
}

.ui-dot-sections {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #e1ebed;
  display: inline-block;
  margin: 0 0 0 3px;
}

/* Projects */

#projects {
  display: block;
  margin: 250px 0 200px;
  padding: 120px 0 0 0;
}
.project-subtitle {
  margin: 0;
}

.container-flex-projects {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.project-case {
  border: 1px solid;
  margin: 20px;
  color: #000;
  height: 300px;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.project-case:hover {
  background-color: #000;
  background-image: none;
  border: 1px solid snow;
  color: #fff;
}

.project-one {
  background-image: linear-gradient(
    to right top,
    #ffe556,
    #ffc158,
    #ff9d6f,
    #ff808f,
    #ff71af
  );
}

.project-two {
  background-image: linear-gradient(
    to right,
    #ff71af,
    #ff808f,
    #ff9d6f,
    #ffc158,
    #ffe556
  );
}

.project-three {
  background-image: linear-gradient(
    to right,
    #ffe556,
    #baf177,
    #73f4aa,
    #16f0dc,
    #00e7ff
  );
}

.project-four {
  background-image: linear-gradient(
    to right,
    #ffe556,
    #baf177,
    #73f4aa,
    #16f0dc,
    #00e7ff
  );
}

.project-five {
  background-image: linear-gradient(
    to right,
    #ffe556,
    #baf177,
    #73f4aa,
    #16f0dc,
    #00e7ff
  );
}

.project-six {
  background-image: linear-gradient(
    to right,
    #ffe556,
    #baf177,
    #73f4aa,
    #16f0dc,
    #00e7ff
  );
}

.project-links {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: end;
  flex: 1;
  color: #fff;
}

.project-links a {
  color: #000;
  width: 50px;
  padding: 15px;
}

.project-links a:hover {
  color: snow;
  width: 50px;
  padding: 15px;
}

.project-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 4;
}

.web-tech {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.web-tech i {
  padding: 15px;
}

/* Contact */

#contact {
  display: block;
  margin: 100px 0 300px;
  padding: 100px 0 0 0;
}

.social-container {
  display: flex;
  flex-direction: column;
}

.social-links {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #fff;
}
.social-btn {
  border-radius: 80px;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 20px;
}

.discord-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 70px;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 100px 0 0 0;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  border-radius: 80px;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 20px;
}

.linkedin-link,
.hire-me-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 70px;
}

.sub-section-title {
  font-size: 1.1rem;
}

.social-titles {
  font-size: 1.2rem;
}
.contact-titles {
  font-size: 1.4rem;
}

#footer {
  text-align: center;
}



/* Media Queries */

